.position-relative {
  position:relative;
}

.position-fixed {
  position:fixed;
}

.position-absolute {
  position:absolute;
}

.material-icons {
  font-family: 'Material Icons';
}

.flex {
  display: flex;
}

.flex.align-items-end {
  align-items: flex-end;
}

.flex.align-items-center {
  align-items: center;
}

.flex.justify-content-center {
  justify-content: center;
}

.flex.direction-column {
  flex-direction:column;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.z-index-1 {
  z-index: 1;
}