
body {
  height: 200vh;
  width: 100vw;
  font-size: 12px;
  overflow-x: hidden;
  /* font-family: 'Didact Gothic', sans-serif; */
  /* font-weight: 500; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Mulish', sans-serif; */
  scroll-snap-type: y mandatory;
}

body.light-mode {
  /* background: linear-gradient(to bottom, rgb(114 202 253 / 50%) 0%, rgb(114 202 253 / 100%) 100%); */
  /* background: linear-gradient(to bottom, rgb(173 125 118) 0%, rgb(205 143 119) 50%, rgb(219 185 136) 100%) */
  /* background: linear-gradient(to bottom, rgb(0 0 0) 0%, rgb(76 118 170) 7%, rgb(219 185 136) 25%, rgb(227 201 138) 100%); */
  background: white;
  /* background-image: url('./components/Cloud.png'); */
  color: #000;
  background: linear-gradient(to bottom,rgb(76 118 170) 0%,rgb(219 185 136) 100%);
}

body.dark-mode {
  /* background: linear-gradient(to bottom, #000000 0%, #0a2177 100%); */
  /* background: linear-gradient(to bottom, rgb(0 0 0) 0%, rgb(7, 18, 67) 15%, rgb(3, 22, 104) 50%, rgb(3, 22, 104) 100%); */
  /* background: linear-gradient(to bottom, rgb(0 0 0) 0%, rgb(7, 18, 67) 8%, rgb(29 15 63) 20%, rgb(5 4 8) 60%, rgb(0 0 0) 100%); */
  background: black;
  background-image: url('./components/stars.png');
  color: #fff;
  background: linear-gradient(to bottom,#060f38 0%,rgb(0 0 0) 100%);
}
/* 
 .TeamMemberWrapper:not(.TeamMemberWrapper:nth-child(3), TeamMemberWrapper:nth-child(4), .TeamMemberWrapper:nth-child(5), TeamMemberWrapper:nth-child(6)) {
     flex: 33%;
   }
  
   .TeamMemberWrapper:nth-child(3), TeamMemberWrapper:nth-child(4), .TeamMemberWrapper:nth-child(5), TeamMemberWrapper:nth-child(6) {
     flex: 25%;
} */
  

.material-icons {
  font-family: 'Material Icons';
}

.material-icons.moon:before {
  content: 'moon';
  color: white;
}
/* .cloud {
	width: 350px; height: 120px;
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;

	position: relative;
	margin: 120px auto 20px;
}

.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}

.cloud:after {
	width: 100px; height: 100px;
	top: -50px; left: 50px;

	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

.cloud:before {
	width: 180px; height: 180px;
	top: -90px; right: 50px;
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
} */

/*
@keyframes changeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background-color-change {
  animation: changeOpacity 6s ease-out;
  animation-fill-mode: backwards;
}  */

/* .light-mode, .dark-mode {
  animation: changeBackground 2s ease-out;
  animation-fill-mode: backwards;
}  */

/* @keyframes changeBackground {
  from {
    background: linear-gradient(to bottom, #ffffff 0%, #72cafd 100%);
  }
  to {
    background: linear-gradient(to bottom, #000000 0%, #0059ff 100%);
  }
} */

/* body.light-mode, body.dark-mode {
  transition: opacity 1.5s ease;
} */

.darkModeToggle {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 100;
}

/*
@keyframes .changeBackground {
  from {
    color: red;
  }
  to {
    color: green;
  }
}

.background-color-change {
  animation: changeBackground 6s ease-out 2s;
  animation-fill-mode: backwards;
} */

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/* .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
